-- Teslimat anındaki üretim miktarını kaydetmek için kolon ekle
ALTER TABLE delivery_items 
ADD COLUMN produced_quantity_at_delivery INTEGER DEFAULT 0;

-- Mevcut teslimatlar için şu anki produced_quantity'yi kopyala (geçici çözüm)
UPDATE delivery_items di
SET produced_quantity_at_delivery = oi.produced_quantity
FROM order_items oi
WHERE di.order_item_id = oi.id
  AND di.produced_quantity_at_delivery = 0;
